/* css a tope */
body {
  background-color: red;
  font-size: 19px;
  color: white;
}

/* github es muy entretenido y muy util */
/* github es muy entretenido y muy util */
/* github es muy entretenido y muy util */
/* github es muy entretenido y muy util */
